
body {
    background-color:#263534;
}

.page-box {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4em;
    border-radius: 7px;
    z-index: 2;
}


a {
    text-decoration: none;
}


.home-contact-etc {
    text-align: center;
    position: relative;
    bottom: 14px;
}

.comics {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    border: 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    
}


h1 {
    padding-top: 14px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
}

h2 {
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    display: inline-block;
    color: #263534;
}

#previous-next {
    text-align: center;
    margin-bottom: -17px;
}
h3 {
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    /* color: #263534; */
    font-size: 15px;
    color: white;
}

h4 {
    margin-top: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 4px;
}


#Previous {
    margin-right: 160px;
}

#Next {
    margin-left: 160px;
}

span {
}
img {
    size: inherit;
    /* width: 50%; */
}


.button {
    display: inline-block;
    padding: 8px 16px;
    background-color:  	#3b4f52;
}